body{
 /* position: */
position: relative;
top: 0;
left: 0;

/* box model; */
display: block;
width: 300px;
height: 600px;
padding: 10px;
margin: 10px;
overflow: hidden;

/* texto */
font-size: 16px;
text-align: center;

/* visual */
color: blue;
border: 2px solid red;
border-radius: 10px;

/* varios */
opacity: 1;

}